div{
    width:210px;
    border:1px solid grey;
    border-radius:5px;
    text-align:center;
}
img{
    width:200px;
    border:5px solid rgb(236, 183, 191);
    border-radius:50%;
}

h1{
    background-color:palegoldenrod;
    border:1px solid black;
}

span {
    background-color:paleturquoise;
    border:1px solid black;
}

#edited{
    background-color:palegoldenrod;
    border:1px solid black;
    display:inline;
}