body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}
nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;

}
ul {

    flex:1; /*flex grow so that it occupies some of the remaining extra space*/
    max-width:50%;
    display:flex;
    justify-content:space-evenly;
}



ul,li {

    list-style:none;
    margin: 0;
    padding: 0;
}
   
/* mdeia (orientation:landscape){
    background-color:magenta;
}
*/

@media (max-width: 768px){ /*768 and below*/
    h1{
        font-size:4em;
    }
    nav, nav ul {
        flex-direction:column;
        align-items: center;
    }
}

@media (max-width:576px){ /*768 and below*/
    h1{
        font-size:2.5em
    }
}


 